@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta visualmente el scrollbar sin afectar el posicionamiento */
.scrollbar-hide-only::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.scrollbar-hide-only {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE y Edge */
}


html, body, #root {
 height: 100%;
  margin: 0;
  padding: 0;
}
