@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}

html, body, #root {
 height: 100%;
  margin: 0;
  padding: 0;
}
